* {
    box-sizing: border-box;
    margin: 0;
}

.light-mode {
    background-color: #ffffff;
    color: #1D1E22;
    background-image: url(light-mode-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    color: white;
    background-image: url(earth-1756274_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}




.light-mode .movie-card {
    background-color: #E0E0E0;
}

.light-mode .movie-card:hover {
    background-color: #CCCCCC;
}

.light-mode .movie-rating {
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

input:focus {
    outline: none;
}

#header-title-wrap {
    text-align: center;
}

#header-title {
    display: inline-block;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}

#serch {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#serch #search-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 30px;
    border: none;
    background-color: transparent;
    opacity: 0.7;
    cursor: pointer;
}

#serch input:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#input-clear-btn {
    position: absolute;
    border: none;
    top: 2px;
    right: 65px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.397);
}

#input-clear-btn:hover {
    color: #1D1E22;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

/* 다크 모드 버튼 */
.toggle-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.toggle-container {            
    display: flex;
    padding: 20px;
    width: 200px;    
}

.toggle-label {
    display: flex;
    align-items: center;
}
.toggle-text {
    font-weight: 600;    
}

.toggle-text:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

#slider-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}

#slider-label #light-mode-toggle {
    opacity: 0;
    width: 170px;
    height: 0;
}

/* 슬라이더 효과 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#light-mode-toggle:checked+.slider {
    background-color: #4b4e50;
}

#light-mode-toggle:focus+.slider {
    box-shadow: 0 0 1px #4b4e50;
}

#light-mode-toggle:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Main */
/* 영화 헤더 */
#movie-list-header {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    margin-left: 30px;
    cursor: pointer;
}

#movie-list-header:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

#movie-list-heading {
    padding: 20px;
    width: 210px;
}

#year-filter-button {
    background-image: url('down-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
}

.light-mode #year-filter-button {
    background-image: url('downd.png');
    width: 40px;
    height: 40px;
}


/* 영화 목록 */

#movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.movie-card {
    position: relative;
    width: 20em;
    padding: 10px;
    height: 720px;
    background-color: #222A44;
    border-radius: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.1s;
}

.movie-card:hover {
    background-color: #1A2133;
}

.movie-card img {
    width: 100%;
    border-radius: 16px;
    border: 1px solid #ccc;
}

.movie-content {
    overflow-y: auto;
    height: 150px;
}


.movie-title,
.movie-content {
    padding: 10px;
}

.movie-rating {
    text-align: right;
    margin-right: 15px;
    color: #B5B8BB;
}

.place-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(102, 102, 101);
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.light-mode .place-badge {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

/* 스크롤바 막대 */

.movie-content::-webkit-scrollbar {
    width: 8px;
    /* 스크롤바의 너비 */
    border-radius: 10px;
}

.movie-content::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #1d3680a8;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.movie-content::-webkit-scrollbar-track {
    background-color: transparent;
    /* 스크롤바 뒷 배경 색상 */
}

/* 모달창 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 450px;
}

.year-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.year-item {
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-weight: 600;
}

.year-item:not(:first-child) {
    border-top: 1px solid gray;
}

.year-item:hover {
    background-color: #363636;
    color: #fefefe;
}

.light-mode .year-item:hover {
    background-color: #f2f2f2;
    color: #000000;
}

.light-mode .modal-content {
    background-color: #fefefe;
    color: #333;
}


@media screen and (max-width: 768px) {    
    body {
        overflow:hidden
    }
    #movie-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    #serch {
        width: 85%;
    }

    .light-mode .modal-content {
        background-color: #fefefe;
        color: #333;
    }
    
    .modal-content {
        margin: 15% auto;
        width: 60%;
        height: 60%;
    }
}

